* {
	font-family: "JetBrainsMono Nerd Font Propo";
	font-size: 12px;
	font-weight: bold;
}

/*WAYBAR*/

#waybar {
	background-color: transparent;
}

.modules-right {
	margin-right: 10px;
    color: #cbd5e1;
}

.modules-left {
	margin-left: 10px;
    color: #cbd5e1;
}

.modules-center {
}

.module {
    margin-top: 5px;
}

/*ANIMATION*/

@keyframes blink {
	to {
		background-color: #ffffff;
		color: black;
	}
}

/*WORKSPACES*/

#workspaces {
    background: none;
}

#workspaces button {
    margin: 8px 0px;
    padding: 0px 8px;
    border-radius: 10px;
}

#workspaces button:hover {
    background-color: #444444;
    color: #323d49;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces button.active {
    background-color: #283250;
    color: #e8eaed;
}

#workspaces button.empty {
    background-color: #0f1b35;
    color: #323d49;
}

#workspaces button:not(.active):not(.empty) {
    background-color: #0f1b35;
    color: #e8eaed;
}

/* If workspaces is the leftmost module, omit left margin */
/*.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}*/

/* If workspaces is the rightmost module, omit right margin */
/*.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}*/

#clock,
#clock.date {
    background-color: rgb(15,27,53);
    margin: 8px 0px;
    padding: 0px 8px;
    border-radius: 10px;
}

#backlight,
#network,
#custom-power,
#pulseaudio,
#battery {
    background-color: rgb(15,27,53);
    margin: 8px 0px;
    padding: 0px 8px;
    border-radius: 10px;
}

#battery.charging {
    color: #9ece6a;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-swww {
    margin: 9px 0px;
    padding: 0px 5px;
    border-radius: 10px;
}

#custom-random {
    margin: 9px 0px;
    padding: 0px 5px;
    border-radius: 10px;
}

#custom-pick {
    margin: 9px 0px;
    padding: 0px 5px;
    border-radius: 10px;
}
