* {
	font-family: "JetBrainsMono Nerd Font Propo";
	font-size: 12px;
	font-weight: bold;
    color: #cbd5e1;
}

/*WAYBAR*/

#waybar {
	background-color: transparent;
}

.modules-right {
	margin-right: 10px;
}

.modules-left {
	margin-left: 10px;
}

.modules-center {
}

.module {
}

/*label.module {
    color: #cbd5e1;
}*/

button.module {
}

/*ANIMATION*/

@keyframes blink {
	to {
		background-color: #ffffff;
		color: black;
	}
}

/*WORKSPACES*/

#workspace {
}

#workspaces button {
}

#workspaces button:hover {
}

#workspaces button.focused {
}

#workspaces button.urgent {
}

/* If workspaces is the leftmost module, omit left margin */
/*.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}*/

/* If workspaces is the rightmost module, omit right margin */
/*.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}*/

#clock,
#clock.date {
    background: rgba(15,27,53,1);
    margin: 20 2;
}

#bluetooth,
#backlight,
#network,
#custom-power,
#pulseaudio,
#battery {
}

#battery.charging {
    color: #9ece6a;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
