* {
	font-family: "JetBrainsMono Nerd Font Propo";
	font-size: 12px;
	font-weight: bold;
    color: #cbd5e1;
}

/*WAYBAR*/

#waybar {
	background-color: transparent;
    /*background: rgb(255,0,0);*/
}

.modules-right {
	margin-right: 10px;
}

.modules-left {
	margin-left: 10px;
}

.modules-center {
}

.module {
    background: rgb(15,27,53);
    margin-top: 5px;
}

/*label.module {
    color: #cbd5e1;
}*/
button.module {
}

/*ANIMATION*/

@keyframes blink {
	to {
		background-color: #ffffff;
		color: black;
	}
}

/*WORKSPACES*/

#workspace {
    margin: 9 0;
    padding: 0 5;
    border-radius: 10;
}

#workspaces button {
}

#workspaces button:hover {
}

#workspaces button.focused {
}

#workspaces button.urgent {
}

/* If workspaces is the leftmost module, omit left margin */
/*.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}*/

/* If workspaces is the rightmost module, omit right margin */
/*.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}*/

#clock,
#clock.date {
    margin: 9 0;
    padding: 0 5;
    border-radius: 10;
}

#bluetooth,
#backlight,
#network,
#custom-power,
#pulseaudio,
#battery {
    margin: 9 0;
    padding: 0 5;
    border-radius: 10;
}

#battery.charging {
    color: #9ece6a;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-swww {
margin: 9 0;
    padding: 0 5;
    border-radius: 10;
}

#custom-random {
margin: 9 0;
    padding: 0 5;
    border-radius: 10;
}

#custom-pick {
margin: 9 0;
    padding: 0 5;
    border-radius: 10;
}
